#index-banner {
    width: 100%;
    height: 100vh;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-item video {
    width: 100%;
    height: 100vh;
    filter: brightness(90%);
    object-fit: cover;
    object-position: center;
}

/* 隐藏video 全屏按钮 */
.carousel-item video::-webkit-media-controls-fullscreen-button {
    display: none;
}
/* 隐藏video 播放按钮 */
.carousel-item video::-webkit-media-controls-play-button {
    display: none;
}
/* 隐藏video 进度条 */
.carousel-item video::-webkit-media-controls-timeline {
    display: none;
}
/* 隐藏video 观看的当前时间 */
.carousel-item video::-webkit-media-controls-current-time-display{
    display: none;            
}
/* 隐藏video 剩余时间 */
.carousel-item video::-webkit-media-controls-time-remaining-display {
    display: none;            
}
/* 隐藏video 音量按钮 */
.carousel-item video::-webkit-media-controls-mute-button {
    display: none;            
}
.carousel-item video::-webkit-media-controls-toggle-closed-captions-button {
    display: none;            
}
/* 隐藏video 音量的控制条 */
.carousel-item video::-webkit-media-controls-volume-slider {
    display: none;            
}
/* 隐藏video 所有控件 */
.carousel-item video::-webkit-media-controls-enclosure{ 
    display: none;
}

.carousel-caption-middle {
    top: 40%;
}

.carousel-caption-middle h1 {
    font-weight: 700;
}

#get {
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

#get p .bi {
    margin-right: .5rem;
}

.what {
    width: 100%;
    height: auto
}

.what h2 {
    font-weight: 700;
}

.what .what-logo {
    width: auto;
    height: 160px;
}

.feature {
    background-color: aliceblue
}

.feature h2 {
    font-weight: 700;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.feature-icon i {
    font-size: 2rem;
    margin: 0;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.icon-square i {
    font-size: 1.5rem;
    margin: 0;
}

.apply-btn a:first-child {
    margin-right: 20px;
}

.links {
    background-color: aliceblue;
}

.link-card {
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.link-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.pic-card {
    transition: all .3s ease-in-out;
}

.pic-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.pic-card .bi {
    margin-right: .5rem;
}

#pic-1 {
    background-image: url('../img/rlj.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pic-2 {
    background-image: url('../img/jt.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pic-3 {
    background-image: url('../img/dt.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#museum {
    background-image: url('../img/qyg.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#khl {
    background-image: url('../img/khl.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#satellite {
    background-image: url('../img/bjl.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#wiki {
    background-image: url('../img/boat.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#qq {
    background-image: url('../img/fc.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#Github {
    background-image: url('../img/gyq.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#report {
    background-image: url('../img/gyq2.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#mail {
    background-image: url('../img/yl.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#bz {
    background-image: url('../img/bz.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#weibo {
    background-image: url('../img/wb.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.link-card::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(255, 255, 255) 30%, rgba(255, 0, 0, 0) 100%);
    z-index: 1;
}

.link-card div {
    position: relative;
    z-index: 2;
}

#person img {
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}

#qa {
    background-image: url('../img/qa-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}