@import url('../bootstrap/bootstrap-icons.css');

.nav-origin {
    background-color: transparent!important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: all 0.4s ease;
}

.navbar-scrolled {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff85!important;
}

.btn .bi {
    margin-right: .5rem;
}

.copyright .bi {
    margin-right: .5rem;
}

.bi-mr {
    margin-right: .5rem;
}

.icon-link i {
    position: relative;
    top: -3px;
}

.bg-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.footer-logo {
    width: 100%;
    height: auto
}

.copyright a:hover {
    color: #0d6efd !important;
    text-decoration: underline !important;
}
